@model Student
@{
    ViewData["Title"] = "Create Student";
}
<form asp-controller="Student" asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Fullname"></label>
        <input asp-for="Fullname" class="form-control"/>
        <span asp-validation-for="Fullname" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Gender"></label>
        <input asp-for="Gender" class="form-control" />
        <span asp-validation-for="Gender" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Dob"></label>
        <input asp-for="Dob" class="form-control" />
        <span asp-validation-for="Dob" class="text-danger"></span>
    </div>
    <div>
        <button class="btn btn-warning" type="submit">Submit</button>
    </div>
</form>
